@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.invert {
    filter: invert(1);
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212
}

.m-1 {
    margin: 5px;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.rounded {
    border-radius: 7px;
}

.p-1 {
    padding: 10px;
}

.circle {
    border-radius: 50%;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: block;
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
    background: #333; /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Darker color for the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
    border: 3px solid #333; /* Matches the track background */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Lighter color when hovering over the thumb */
}

/* For Firefox */
html {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #333; /* Thumb and track colors */
}

/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: scrollbar; /* Shows scrollbar in IE/Edge */
}

body::-ms-scrollbar {
    width: 12px; /* Adjust width as needed */
}

body::-ms-scrollbar-track {
    background: #333; /* Dark background for the scrollbar track */
}

body::-ms-scrollbar-thumb {
    background-color: #888; /* Darker color for the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
    border: 3px solid #333; /* Matches the track background */
}

body::-ms-scrollbar-thumb:hover {
    background-color: #555; /* Lighter color when hovering over the thumb */
}
